{% extends 'base.html' %}


{% block content %}



		

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card-body p-3 text-center">

                      <form method="POST">
 
                      	<div class="dropdown">
						  <button style="margin-top: 10px;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    Select Dealer/Customer
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" href="#">AMIT TOMAR</a></li>
						    <li><a class="dropdown-item" href="#">A TO Z WASTE MANAGEMENT </a></li>
						    <li><a class="dropdown-item" href="#">A.R. GUEST HOUSE BARLA</a></li>
						  </ul>
						</div>
						<br>
                      {% csrf_token %}
                      <div class="form-outline form-white mb-4">
                        
                        <input type="text" name="documentno" id="documentno" class="form-control form-control" placeholder="Document No." maxlength="4" required/><br>

                        <input type="text" name="value" id="value" class="form-control form-control" placeholder="Value" maxlength="4" required/><br>

                        <input type="date" name="date" id="date" class="form-control form-control" placeholder="Date" maxlength="4" required/><br>

                        <input type="text" name="description" id="description" class="form-control form-control" placeholder="Description" maxlength="4" required/><br>

                        <input type="text" name="passcode" id="passcode" class="form-control form-control" placeholder="Passcode" maxlength="4" required/><br>

                        <div class="mb-3">
						  <label for="formFile" class="form-label">Select Image</label>
						  <input class="form-control" type="file" id="formFile">
						</div>

                      
                      </div>

                      <button class="btn btn btn-primary" type="submit">Confirm</button>
                      </form>
              </div>
          </div>
        </div>

{% endblock %}