{% extends 'base.html' %}


{% block content %}



		

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card-body p-3 text-center">

                      <form method="POST">
 
<!--                       	<div class="dropdown">
						  <button style="margin-top: 10px;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    Select Dealer/Customer
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" href="#">AMIT TOMAR</a></li>
						    <li><a class="dropdown-item" href="#">A TO Z WASTE MANAGEMENT </a></li>
						    <li><a class="dropdown-item" href="#">A.R. GUEST HOUSE BARLA</a></li>
						  </ul>
						</div>
						<br> -->
                      {% csrf_token %}
                      <div class="form-outline form-white mb-4">

                        <div class="mb-3">
						  <label for="formFile" class="form-label">Select Person Image</label>
						  <input class="form-control" type="file" id="formFile">
						</div>

                        <input type="text" name="addemployeename" id="addemployeename" class="form-control form-control" placeholder="Name" required/><br>

                        <input type="text" name="designation" id="designation" class="form-control form-control" placeholder="Designation" required/><br>

                        <input type="number" name="addemployeenumber" id="addemployeenumber" class="form-control form-control" placeholder="Phone Number" required/><br>

                        <input type="text" name="add_employee_address" id="add_employee_address" class="form-control form-control" placeholder="Address" required/><br>
                        
                        <input type="text" name="employee_aadhaar" id="employee_aadhaar" class="form-control form-control" placeholder="Aadhaar Number" required/><br>

                        <div class="mb-3">
						  <label for="formFile" class="form-label">Select Aadhaar Image</label>
						  <input class="form-control" type="file" id="formFile">
						</div>

						<br>
                        
                        <input type="text" name="employee_pan" id="employee_pan" class="form-control form-control" placeholder="Pan Number" required/><br>

                        <input type="text" name="employee_area" id="employee_area" class="form-control form-control" placeholder="Employee Area" required/><br>

						<select class="form-select" aria-label="Default select example" multiple data-live-search="true">
						  <option selected>Assign Dealers to Employee</option>
						  <option value="1">Dealer 1</option>
						  <option value="2">Dealer 2</option>
						  <option value="3">Dealer 3</option>
						</select>

                      </div>

                      <button class="btn btn btn-primary" type="submit">Add Now</button>
                      </form>
              </div>
          </div>
        </div>

{% endblock %}