      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SUPER DISTRIBUTOR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reports
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorsignup">Dealer Wise Report</a></li>
                  <li><a class="dropdown-item" href="patientsignup">S.R. Wise Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Stock Statement</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Sales Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Purchase Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Service Material Inward Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Service Material Outward Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Pendency Report</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="/adddealer">Permission</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">


                  <li><a class="dropdown-item" href="doctorlogin">SR app permissions and settings</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Dealer app settings and permissions</a></li>

                  <li><a class="dropdown-item" href="doctorlogin">Master App User limits</a></li>
                  <li><a class="dropdown-item" href="/postmessage">SR Limits</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Dealers Settings</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Addition of New Dealer</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Add New SR</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Update Price List</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Update Schemes</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Update SR Information and Visits</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Update Renewals</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Update Salary</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Inventory Update</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Post Message</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Application Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorlogin">Permission For Other Users</a></li>
                </ul>
              </li>




            </ul>
          </div>
        </div>
      </nav>