      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SUPER DISTRIBUTOR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reports
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorsignup">Dealer Wise Report</a></li>
                  <li><a class="dropdown-item" href="patientsignup">S.R. Wise Report</a></li>
                  <li><a class="dropdown-item" href="doctorsignup">Stock Statement</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Service Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorlogin">Approve Pendency</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Service Pendency</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Outward Service Material to Dealer/Customer</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Outward Service Material to Company
</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Service Material Receipt from Company Inward</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Inventory & Purchasing
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorlogin">Inward Entry Purchase</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Inward Entry Service</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Expense Entry</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Outward Sales</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Update Price List</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Customer Management & Notifications
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorlogin">Customer Data</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Loads</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Add Delay S.R. Technician Approval</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Add/Receive Payment</a></li>
                  <li><a class="dropdown-item" href="doctorlogin">Pendency Notification SRs</a></li>
                  <li><a class="dropdown-item" href="patientlogin">Pendency Notification Self</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools & Notification
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="doctorlogin">Update Scheme</a></li>
                  <li><a class="dropdown-item" href="/postmessage">Post Message</a></li>
                </ul>
              </li>


            </ul>
          </div>
        </div>
      </nav>